.Modules {
  padding-bottom: 20px;
}

.Modules__Hub-Select {
  width: 300px;
  margin: 20px 0;
}

.Module {

}

.Module__Name {
  font-weight: bold;
  font-size: 16px;
}

.Module__Description {
  font-style: italic;
  font-size: 14px;
}

.loading {
  position: relative;
  min-height: 300px;
}

.loading .loading__spinner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading.loaded .loading__spinner {
  display: none;
}
.Module__Hub-List {

}
.Module__Hub-List--Disabled {
  opacity: 0.5
}
