.List {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.List__Item {
  padding: 10px 15px;
  margin-bottom: 5px;
  border: 1px solid #cc0099;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.List__Item > :first-child {
  flex: 1;
  margin-left: 0;
}

.List__Item > * {
  margin-left: 15px;
}
